<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="my-3 d-flex justify-content-end">
                    {% if session['user_id'] %}
                    <form action="/do_logout" method="POST">
                        <button type="submit" class="btn btn-primary">Logout</button>
                    </form>
                    {% endif %}
                </div>
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>